deeplake==3.9.27
llama-index==0.10.50
langchain==0.2.6
langchain_community==0.2.6
openai==1.35.7
cohere==5.5.8
wikipedia==1.4.0
pdf2image==1.17.0
html2text==2024.2.26
ragas==0.1.9
tiktoken==0.7.0
transformers==4.42.3
torch==2.3.1
numpy==1.26.4
deepspeed==0.14.4; platform_system == "Linux"
trl==0.9.4
peft==0.11.1
wandb==0.17.3
bitsandbytes==0.43.1; platform_system == "Linux"
accelerate==0.31.0
tqdm==4.66.4
neural-compressor===2.6; platform_system == "Linux"
onnx===1.16.1
pandas==2.2.2
scipy==1.14.0